footer {
  background-color: #323232;
  position: fixed;
  height: 64px;
  width: 100%;
  bottom: 0;
  left: 0;
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    li {
      width: 25%;
      a {
        height: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 8px;
      }
      svg {
        font-size: 24px;
        color: #fff;
      }
      span {
        font-size: 14px;
        color: #fff;
      }
      &.active {
        svg {
          color: #fedd00;
        }
        span {
          color: #fedd00;
        }
      }
    }

  }
  
}