li.list_item {
  // pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
  &.link {
    cursor: pointer;
  }
  .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 16px;
      pointer-events: none;
    }
    p {
      pointer-events: none;
      font-size: 12px;
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }
  ul.result {
    pointer-events: none;
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    li {
      font-size: 12px;
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }
}