.login {
  width: 100%;
  height: calc(100svh - 128px);
  display: flex;
  align-items: center;
  section {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tab {
    width: 100%;
    display: flex;
    column-gap: 4px;
    li {
      width: calc(50% - 2px);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #fedd00;
      text-align: center;
      padding: 8px 0;
      font-weight: bold;
      cursor: pointer;
      &.active {
        cursor: initial;
        background-color: #ccc;
      }
    }
  }
  .form {
    width: 100%;
    background-color: #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
  }
  .stopping {
    text-align: center;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    border-radius: 4px;
    border: none;
    appearance: none;
    width: 240px;
    padding: 4px 8px;
    height: 24px;
  }
  .hint {
    padding: 8px 0;
    font-size: 80%;
    color: #777;
    font-style: italic;
    display: block;
  }
  dd {
    margin: 8px 0 16px 4px;
  }
}
